:root {
    color-scheme: light dark; 
}
body {
    --text-color: #222;
    --bkg-color: #fff;
}
body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
}
@media (prefers-color-scheme: dark) {
    body { 
        --text-color: #eee;
        --bkg-color: #121212;
    }
    body.light-theme {
        --text-color: #222;
        --bkg-color: #fff;
    }
}

body {
    font-size: calc(15px + 0.390625vw);
    line-height: 1.4em;
    width:100%;
    display: flex;
    flex-flow:column;
}

#intro div {
    max-width: 80ch;
    margin-inline: auto;
}

.logo {
    
    background-image: url('./pkg/latest/mark.svg');
}
.logo.inline {
    max-height: 1em;
    max-width: 1em;
    position:absolute;
    top:0.1em;
    right:0.1em; 
}

