
div[lk-point]{
    display:flex;
    flex-flow: column nowrap;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: flex-start;
    width: fit-content;

    & * {
        border-radius: 6px;
        box-sizing: border-box;
        list-style: none;
    }

    /* underline */
    & .domain, & .group, & .path li {
        border-bottom: 1px solid grey;
        display:inline;
        margin-inline:0.5rem;
    }
    & .domain:before{
        content:"Domain";
        margin-right: 2ch;
    }
    & .group:before{
        content:"Group";
        margin-right: 3ch;
    }
    & .pubkey{
        order:1;
        &:before{
            margin-right: 3ch;
            content:"Signed"
        }
    }
    & .path li:before {
        position: relative;
        width: 0.7em;
        margin-left: -0.7em;
    }
    
    & .path, & [links] li {
        display: flex;
        align-items: flex-end;
        flex-flow: row nowrap;
        gap: 1rem;
    }
    & .path-part:before {
        content: "/";
    }
    & [links] {
        display:table;
        & .link {
            display: table-row;
            & .tag {
                display: table-cell;
            }
            & .ptr:before{
                content:":";
            }
        }
    }
    & .int[data-size] , & .pubkey , & .hash, & *:before{
        color: #6c757d;
        font-size: 0.875rem;
        line-height: 1.4;
        font-weight: 400;
        
    }
    & .int[data-size]:after{
        content:" bytes"
    }
    
    & [int="0"],
    .stamp,
    & .links-len,
    & .nparts,
    & .path[nparts="0"],
    & [links="0"]
    { display:none;}

    & > .hash {
        order:2;
        &:not(:hover){
            color:transparent;
            &:before{color:transparent;}
        }
        &:before{
            margin-right: 4ch;
            content:"Hash "
        }
    }
}
