@font-face {
  font-family: "VT323";
  src: url("https://fonts.googleapis.com/css2?family=VT323") format("woff2");
  font-weight: normal;
  font-style: normal;
}

div[lk-point] {
  position: relative;
  font-family: "VT323", monospace;
  margin: 1em;
  padding: 1em;
  padding-top: 0px;
  display: inline-flex;
  flex-flow: row wrap;
  border-radius: 6px;
  max-width: 95%;
  font-size: calc(15px + 0.390625vw);
  background: #44475a;
  color: #f8f8f2;
  border-radius: 6px;
  border: 3px solid #282a36;
  width: min-content;
  line-height: 1;
  & * {
    border-radius: 6px;
    box-sizing: border-box;
    list-style: none;
  }
  & *::before,
  div[lk-point] *::after {
    position: relative;
    display: inline-block;
  }

  & div[hash] {
    order: 1;
  }
  & div[domain] {
    order: 2;
  }
  & div[group] {
    order: 3;
  }
  & div[pubkey] {
    order: 4;
  }
  & div[nparts] {
    order: 6;
  }
  & ol[path] {
    order: 5;
  }
  & div[links-len] {
    order: 10;
  }
  & ol[links] {
    order: 11;
  }
  & div[data-size] {
    order: 20;
  }
  & pre[data] {
    order: 21;
  }
  & div[stamp] {
    order: 30;
  }

  & div[hash]:hover,
  div[group]:hover,
  div[ptr]:hover,
  div[pubkey]:hover {
    border-top: 3px solid #6272a4;
    border-bottom: 3px solid #6272a4;
    border-left: 3px solid #6272a4;
  }
  & div[domain],
  div[tag] {
  }

  & div[hash],
  & div[group],
  & div[domain],
  & div[pubkey] {
    background: #44475a;
    border: 3px solid #44475a;
    transform: translateY(-50%);
  }

  & div[hash],
  & div[group],
  & div[ptr],
  & div[pubkey] {
    border: 3px solid #6272a4;
  }
  & div[group],
  & div[pubkey] {
    border: 3px solid #6272a4 !important;
  }

  & div[hash] {
    margin-right: 1em;
  }
  & div[domain] {
      margin-left:auto;
  }
  & div[group] {
  }
  & div[pubkey] {
    margin-left: 1em;
  }

  & div[pubkey].b64 {
    border: 3px solid #6272a4;
  }

  & div[hash]::after {
    background: url(/linkspace.ico) no-repeat;
    width: 1em;
  }

  & div[domain]::after {
    content: ":";
  }

  & div[pubkey]::before {
    content: "$";
  }
  & div[hash]::after,
  div[ptr]::after {
    /*content :"📍"*/
  }

  & div[nparts="0"],
  & ol[nparts="0"] {
    display: none;
  }

  & div[nparts] {
    display: none;
  }
  & ol[path] {
    flex: 0 0 100%;
    display: inline-flex;
    align-items: flex-end;
    flex-flow: row nowrap;
    gap: 1em;
  }
  & ol[path] li {
    border-bottom: 1px solid grey;
  }
  & ol[path] li::before {
    content: "/";
    position: relative;
    width: 0.7em;
    margin-left: -0.7em;
  }

  & div[links-len] {
    flex: 0 0 100%;
  }
  & div[links-len="0"],
  & ol[links-len="0"] {
    display: none;
  }
  & div[links-len]::after {
    content: " links";
    left: 1em;
  }
  & div[links-len="1"]::after {
    content: " link";
  }

  & ol[links] {
    display: table;
  }
  & ol[links] > li {
    display: table-row;
  }

  & div[tag] {
    display: table-cell;
    min-width: 12em;
    text-align: right;
  }
  & div[tag]::after {
    content: ":";
  }
  & div[ptr] {
    display: table-cell;
  }

  & div[data-size] {
    flex: 0 0 100%;
  }
  & div[data-size]::after {
    content: "bytes";
    left: 1em;
  }
  & div[data-size="1"]::after {
    content: "byte";
  }
  & div[data-size="0"],
  & pre[data="0"] {
    display: none;
  }
  & pre[data] {
    overflow: scroll;
    border: 3px solid #6272a4;
    margin: 1em;
    padding: 1em;
    max-width: 80em;
  }

  & div[stamp] {
    position: absolute;
    bottom: -0em;
    height: 1.5em;
    background: #44475a;
    border-radius: 6px;
    border: 3px solid #282a36;
    transform: translateY(50%);
    right: 2em;
    opacity: 0;
  }
  & div[stamp]:hover{
      opacity:0.9;
  }

}
div[lk-point]::after{
    content: "";
    background:var(--mark);
    position:absolute;
    right:0px;
    bottom:0px;
    width:32px;
    height:32px;
}
:root {
    --mark: url("../linkspace.js/mark.svg");
}
.mark{
    min-height: 32px;
    min-width: 32px;
    background-repeat: no-repeat;
    background-image:var(--mark);
}
.mark-end::before{
    content: "";
    background:var(--mark);
    position:relative;
    right:0px;
    bottom:0px;
    width:32px;
    height:32px;
}
