:root {
  color-scheme: dark light;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: lch(50% 0 0 / 0.02);
  display: flex;
  font-family: "Source Code Pro", monospace;
  font-size: calc(15px + 0.390625vw);
  line-height: 1.4em;
  height: auto;
  min-height: 100vh;
}
input,
textarea {
  width: 12rem;
}


#main-with {
  width: min(100%, 100ch);
  margin-block: auto;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
}
#aside {
  flex-grow: 1;
  flex-basis: 250px;
}
#aside > :last-child {
  min-height: calc(100lvh - 100svh);
  & summary {
    color: lch(50% 0 0 / 0.92);
  }
}
#main {
  flex-grow: 999;
  flex-basis: 0;
  min-inline-size: min(100%, 65ch);
}
details {
  margin-bottom: 0.5rem;
  border-radius: 3px;
}
button {
  height: 60px;
  width: 60px;
  margin: 10px;
  border-radius: 8px;
  font-weight: 900;
}
#steps {
  counter-reset: list-number -1;

  & details {
    background: lch(50% 0 0 / 0.1);
    & summary {
      display: flex;
      align-content: center;
      align-items: center;
      & * {
        min-width: 6rem;
        margin-inline: 1rem;
      }
    }
    &.done summary {
        background-color: lch(100% 0 0 / 0.5);
    }
    &.bussy summary:before{
        content: "..."
    }
    & summary:before {
      counter-increment: list-number;
      content: counter(list-number);
      margin: 10px;
      width: 35px;
      height: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      border-radius: 50%;
      color: lch(100% 0 0 / 0.9);
      background-color: lch(50% 0 0 / 0.5);
    }
  }
}

.b64 {
  font-family: monospace;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:active {
    background: lch(50% 0 0 / 0.05);
    font-weight: 700;
  }
}

.fit {
  width: auto;
}

div[lk-point]{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    & * {
        border-radius: 6px;
        box-sizing: border-box;
        list-style: none;
    }

    /* underline */
    & div[domain], & div[group], & div[pubkey] , & ol[path] li {
        border-bottom: 1px solid grey;
        display:inline;
        margin-inline:0.5rem;

    }
    & div[group]:before, & div[pubkey]:before{
        content:" ";
    }

    & div[group]:before, & div[pubkey]:before, & ol[path] li:before {
        position: relative;
        width: 0.7em;
        margin-left: -0.7em;
    }
    & ol[path], & ol[links] li {
        display: flex;
        align-items: flex-end;
        flex-flow: row nowrap;
        gap: 1rem;
    }
    & ol[path] li:before {
        content: "/";
    }
    & ol[links] {
        display:table;
        & li {
            display: table-row;
            & div {
                display: table-cell;
            }
            & div:last-child:before{
                content:":";
            }
        }
    }

    & div[hash],
    & div[stamp],
    & div[data-size],
    & div[links-len],
    & div[nparts],
    & ol[path][nparts="0"],
    & ol[links="0"]
    { display:none;}
}
